body {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3E3E3E;
    border: none;
    display: flex;
    justify-content: space-between;
}

.navbar .container-name {
    font-size: 1.5em;
    padding: 2em 1em;
}

.navbar .container-name a {
    color: white;
    background-color: #3E3E3E;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
}

.navbar .container-navigation ul {
    list-style: none;
    display: flex;
    padding-top: 1em;
    padding-right: 0.5em;
}

.navbar .container-navigation ul li {
    padding-right: 4em;
    padding-top: 1em;
    color: white;
}

.container-job {
    text-align: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2em;
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 5px 5px 10px black;
    background-color: rgb(100, 100, 100);
    color: white;
}

.container-job h1 {
    margin-bottom: 0;
}

.container-information {
    padding-top: 0.5em;
}

.container-projects {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 5px 5px 10px black;
    background-color: rgb(100, 100, 100);
    color: white;
}

.container-projects h1 {
    text-align: left;
    margin-bottom: 0;
}

/* Color pallet */
/* Dark grey #3E3E3E */ 
/* Light grey #8f91a2 */ 
/* Dark blue #94b0da */ 
/* Light blue #dcedff */
/* Dark red #aa4465 */ 
