body {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3E3E3E;
    border: none;
    display: flex;
    justify-content: space-between;
}

.navbar .container-name {
    font-size: 1.5em;
    padding: 2em 1em;
}

.navbar .container-name a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
}

.navbar .container-navigation ul {
    list-style: none;
    display: flex;
    padding-top: 1em;
    padding-right: 0.5em;
}

.navbar .container-navigation ul li {
    padding-right: 4em;
    padding-top: 1em;
    color: white;
}

.container-job {
    text-align: center;
    padding-top: 5em;
}

.container-information {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2em;
}

.container-projects {
    background-color: #939196;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
}

.container-projects .btn-group {
    margin-left: 20%;
    border-style: dashed;
    border-width: thin;
}

.container-projects button {
    background-color: #ffe2fe;
    border: 1px solid #939196;
    color: #646881;
    padding: 40px 20px;
    cursor: pointer;
    float: left;
    font-size: large;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.content table {
    border-style: solid;
}

.content table th {
    width: 50%;
}

.content {
    display: none;
    text-align: center;
}

/* Color pallet */
/* Dark grey #3E3E3E */ 
/* Light grey #939196 */ 
/* Dark pink #d3c1d2 */ 
/* Light pink #ffe2fe */
/* Dark blue #646881 */ 
